In [1]:
import os
os.environ["OPENAI_API_KEY"] = "sk-proj-HLxT0jMa1g7ELuVrEE1ZT3BlbkFJXTmHoqbgkSHwP5tRbSTk"

In [50]:
from langchain_core.prompts import ChatPromptTemplate

template = """
Based on the database schema provided below, i want you to write the my sql query that answer for the user question. Give the query as one sentence string.
database schema is {schema}
question of the user is {question}
Sql query:
"""

prompt = ChatPromptTemplate.from_template(template)

In [37]:
password = "rahulaman"

In [39]:
from langchain_community.utilities import SQLDatabase

database_uri = f"mysql+mysqlconnector://root:{password}@localhost:3306/company_database"

database = SQLDatabase.from_uri(database_uri)

In [40]:
database.run("SELECT * FROM customers LIMIT 10;")

"[(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370, Decimal('21000.00')), (112, 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', 1166, Decimal('71800.00')), (114, 'Australian Collectors, Co.', 'Ferguson', 'Peter', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', 1611, Decimal('117300.00')), (119, 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '67, rue des Cinquante Otages', None, 'Nantes', None, '44000', 'France', 1370, Decimal('118200.00')), (121, 'Baane Mini Imports', 'Bergulfsen', 'Jonas ', '07-98 9555', 'Erling Skakkes gate 78', None, 'Stavern', None, '4110', 'Norway', 1504, Decimal('81700.00')), (124, 'Mini Gifts Distributors Ltd.', 'Nelson', 'Susan', '4155551450', '5677 Strong St.', None, 'San Rafael', 'CA', '97562', 'USA', 1165, Decimal('210500.00')), (125, 'Havel & Zbyszek Co', 'Piestrzeniewicz', 'Zbyszek ', '(26) 642-7555', 'ul. Filtrowa 68', None, 'Warszawa', None, '01-012', 'Poland', None, Decimal('0.00')), (128, 'Blauer See Auto, Co.', 'Keitel', 'Roland', '+49 69 66 90 2555', 'Lyonerstr. 34', None, 'Frankfurt', None, '60528', 'Germany', 1504, Decimal('59700.00')), (129, 'Mini Wheels Co.', 'Murphy', 'Julie', '6505555787', '5557 North Pendale Street', None, 'San Francisco', 'CA', '94217', 'USA', 1165, Decimal('64600.00')), (131, 'Land of Toys Inc.', 'Lee', 'Kwai', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', 1323, Decimal('114900.00'))]"

In [43]:
def get_schema(_):
    return database.get_table_info()

In [44]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

In [45]:
from langchain_google_genai import GoogleGenerativeAI

In [46]:
api_key = "AIzaSyCr-tL5Omu3F8TFNYERHaVMkzyOcejswVw"

In [47]:
llm = GoogleGenerativeAI(model="models/text-bison-001", google_api_key=api_key)
print(
    llm.invoke(
        "What are some of the pros and cons of Python as a programming language?"
    )
)

**Pros of Python:**

* **Easy to learn:** Python is a very easy-to-learn language, even for beginners. It has a simple syntax and a lot of built-in functions, which makes it a great language for people who are new to programming.
* **Versatile:** Python can be used for a wide variety of tasks, including web development, data science, and machine learning. It is also a popular choice for scripting and system administration.
* **Open source:** Python is an open-source language, which means that it is free to use and modify. This makes it a great option for projects where you need to have full control over the code.
* **Large community:** Python has a large and active community of users and developers. This means that there is a lot of support available if you run into any problems.

**Cons of Python:**

* **Slow:** Python is not as fast as some other programming languages, such as C++ or Java. This can be a problem for applications that require a lot of processing power.
* **Not as performant:** Python is not as performant as some other programming languages, such as C++ or Java. This can be a problem for applications that require a lot of speed.
* **Not as type-safe:** Python is not as type-safe as some other programming languages, such as Java or C++. This can lead to errors if you accidentally use the wrong type of data.

Overall, Python is a very good programming language for beginners and experienced programmers alike. It is easy to learn, versatile, and has a large community of users and developers. However, it is not as fast or performant as some other programming languages.

In [51]:
#llm = ChatOpenAI()

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | llm.bind(stop="\nSQL result:")
    | StrOutputParser()         
    )

In [52]:
sql_chain.invoke({"question":"can you give me first ten employees in ascending order by name"})

'select lastName, firstName from employees order by lastName asc, firstName asc limit 10'

In [31]:
natural_template = """
Based on the given schema, question, sql query and the sql response, give a natural language answer.

schema: {schema}
question: {question}
sql query: {query}
sql response: {response}
"""

natural_prompt = ChatPromptTemplate.from_template(natural_template)

In [24]:
def run_query(query):
    return database.run(query)

In [67]:
sql_chain.invoke({"question":"How many unique employees?"})

'select count(distinct employeeNumber) from employees'

In [72]:
print(run_query(sql_chain.invoke({"question":"How many unique employees?"})))

[(23,)]

In [70]:
full_chain = (RunnablePassthrough.assign(query=sql_chain).assign(
    schema=get_schema,
    response= lambda vars: run_query(query))
    | natural_prompt
    | llm
)

In [73]:
full_chain.invoke({"question":"give me first 10 names of employees ascending order by name"})

'The first 10 employees in alphabetical order by last name and first name are:\n1. Ferguson, Peter\n2. Firrelli, Jeff\n3. King, Jean\n4. Murphy, Diane\n5. Patterson, Mary\n6. Schmitt, Carine\n7. Smith, John\n8. Taylor, Michael\n9. Walker, Susan\n10. Williams, William'